# Connect to Supabase via connection pooling use prisma accelerate connection string
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_DATABASE_URL=""

JWT_SECRET=""

# create .dev.vars and add the DATABASE_URL="" with accelerate